<!DOCTYPE html>
%html{lang: "en"}
%head
	%meta{charset: "UTF-8"}
	%link{ rel: "stylesheet", href: "/assets/css/main.min.css" }/
	%title Doyen | Huballin Labs
%body
	%h1 Welcome to Dojen
	%section#app

	-# End of body
	%script{ src: '/assets/js/vendor/vendor.min.js' }
	%script{ src: '/assets/js/main.min.js' }
	